@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
	--bg-norm: 18, 18, 18;
	--bg-mid: 28, 28, 28;
	--bg-high: 55, 55, 55;
}

[data-theme="light"] {
	--bg-norm: 255, 255, 255;
	--bg-mid: 241, 241, 241;
	--bg-high: 230, 230, 230;
}