@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
	--bg-norm: 0, 0, 0;
	--bg-mid: 0, 0, 0;
	--bg-high: 0, 0, 0;
}

[data-theme="light"] {
	--bg-norm: 255, 255, 255;
	--bg-mid: 241, 241, 241;
	--bg-high: 230, 230, 230;
}